/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%; /* sticks footer */
}

body {
  display: flex; /* sticks footer */
  flex-direction: column; /* sticks footer */
  min-height: 100%; /* sticks footer */
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

/* Header */
.page-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-page {
  background-color: #ffffff;
}


.logo-link {
  width: 140px;
  height: 70px;
  display: block;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  position: relative;
}

.navigation-list {
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-user {
  display: flex;
  justify-content: flex-end; 
  margin-left: auto;
}

.navigation-list-item {
  margin-right: 16px;
  list-style-type: none;
  position: relative;
  padding: 24px 14px;
}

.navigation-list-item:last-child {
  margin-right: 0;
  
}

.navigation-item-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.user-favorites {
  position: absolute;
  content: "";
  top: 14px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  font-size: 10px;
  line-height: 10px;
  box-sizing: border-box;
  padding: 4px;
}

.navigation-icon-heart {
  width: 18px;
  height: 18px;
  background-image: url("../images/svg/icons/heart.svg");
  background-repeat: no-repeat;
}

.navigation-icon-search{
  width: 18px;
  height: 18px;
  background-image: url("../images/svg/icons/search.svg");
  background-repeat: no-repeat;
}


/* Main */
.main-page {
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1; /* sticks footer */
}

/* Intro */
.section-intro {
  background-color: #E4F1F9;
  /* background-image: url("../images/intro/intro-bg.jpg"); */
  background-image: url("../images/svg/divider.svg"), url("../images/intro/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto cover;
  background-position: bottom center;
  padding-top: 50px;
  padding-bottom: 80px;
}

.intro-images {
  display: block;
  margin: 0 auto;
}

/* Advantages */
.section-advantages {
  padding-top: 70px;
  background-color: #ffffff;
}

.advantages-title {
  margin: 0 0 25px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-subtitle {
  text-align: center;
  margin: 0 0 62px 0;
}

.advantages-desc {
  text-align: center;
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-text {
  text-align: center;
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 385px 385px 385px;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  list-style-type: none;

}

.advantages-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 102px 82px;
}

.advantages-wrap-bright {
  padding: 102px 80px;
}

.advantages-item-bright {
  background-color: #82B3D3;
  display: flex;
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;

    color: #ffffff;
}

.advantages-item-bright .advantages-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}

.advantages-item-active {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-bright .advantages-text {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

/* Recommend */
.section-recommend {
  padding-top: 64px;
  text-align: center;
}

.recommend-title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.img-icon {
  margin-bottom: 30px;
}

.recommend-subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.recommend-desc {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 18px;
  text-align: center;
}

.recommend-text {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.recommend-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.recommend-item {
  padding: 82px 85px;
  list-style-type: none;
  background: #ffffff;
}

.recommend-wrap {
  text-align: center;
}

.recommend-item-active {
  background: rgba(131, 179, 211, 0.12);
}

/* Hotel search */
.section-hotel-search {
  background-color: #ffffff;
  text-align: center;
}

.hotel-wrap {
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.hotel-search-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-desc {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

/* Subscribe */
.section-subscribe  {
   padding: 96px 0;
   text-align: center;
}

.section-subscribe-images {
  background-color: #e4f1f9;
  background-image: url("../images/subscribe/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-container {
  width: 544px;
  margin: 0 auto;
}

.section-subscribe-images .subscribe-title,
.section-subscribe-images .subscribe-desc {
  color: #ffffff;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;

}

.subscribe-desc {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

/* Footer */
.footer-page  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}

.contacts-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Social list */
.social-list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-list-item {
  list-style-type: none;
}

.social-list-vk {
  width: 24px;
  height: 14px;
  display: block;
  mask: url("../images/svg/social/vk.svg") no-repeat center;
  -webkit-mask: url("../images/svg/social/vk.svg") no-repeat center;
  background-color: #83B3D3;
  padding: 14px 12px;
}

.social-list-telegram {
  width: 24px;
  height: 14px;
  display: block;
  mask: url("../images/svg/social/telegram.svg") no-repeat center;
  -webkit-mask: url("../images/svg/social/telegram.svg") no-repeat center;
  background-color: #83B3D3;
  padding: 14px 12px;
}

.social-list-youtube {
  width: 24px;
  height: 14px;
  display: block;
  mask: url("../images/svg/social/youtube.svg") no-repeat center;
  -webkit-mask: url("../images/svg/social/youtube.svg") no-repeat center;
  background-color: #83B3D3;
  padding: 14px 12px;
}

/* Inner page */
/* Filter */
.filter-wrapper {
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  background-color: #E4F1F9;
  background-image: url("../images/form/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 8px;
}

/* Breadcrumbs */
.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

/* Housing */
.page-wrap {
    padding-top: 50px;
    padding-bottom: 60px;
}

.housing-sort-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.housing-sort-wrap {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.control-wrap {
  display: flex;
  align-items: center;
}

.select-control {
  margin-right: 70px;
}

.button-switch {
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 0;
  margin-right: 8px;
  cursor: pointer;
}

.button-switch:last-child {
  margin-right: 0;
}

/* Hotel card */
.hotel-card-wrap {
  width: 1060px;
  margin: 0 auto;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0 0 40px 0;
  padding: 0;
}

.hotel-card-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotel-card-link {
  margin-bottom: 16px;
  display: block;
}

.hotel-card-link-title  {
  text-decoration: none;
  margin-bottom: 16px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotel-card-name,
.hotel-card-rating,
.hotel-card-price,
.stars, .stars-2,
.stars-3, .stars-4 {
  margin: 0;
  font-size: 18px;
}

/* Pagination */
.pagination-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-list-item {
  width: 60px;
  height: 60px;
  display: flex;
  background: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.pagination-list-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.pagination-list-active {
  background-color: #F2F2F2;
}

.pagination-link-active {
  color: #000000;
}

.pagination-list-more {
  background-color: #ffffff;
}

.pagination-link-more {
  color: #000000;
}

/* Button */
.button {
  appearance: none;
  border: none;
  padding: 8px 26px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.button-primary {
  background-color: #756157;
}

.button-favorites,
.button-send {
  background-color: #82B3D3;
  padding: 8px 18px;
}

.button-in-favorites {
  background: #7DB54F;
  padding: 8px 18px;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
